h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  text-shadow: 0 0 2px #1342d5, 0 0 60px #d51025, 0 0 30px #48a729;
  padding: 50px;
}
